{% extends '_base.html' %}
{% load static %}
{% block title %}HomePage{% endblock title %}

{% block content %}
<h1>HomePage</h1>
<form action="{% url 'search_results' %}" method="get">
    <input name="q" type="text" placeholder="Search" aria-label="Search">
</form>
<img class="bookcover" src="{% static 'images/flag_of_kanagawa.png' %}"><br>


{% if user.is_authenticated %}
    Hi {{user.username}}
    <p><a href="{% url 'account_logout' %}">Log out</a></p>
{% else %}
    <p>Yoy are not logged in</p>
    <p><a href="{% url 'account_login' %}">Log in</a> | <a href="{% url 'account_signup' %}">Sign up</a></p>
{% endif %}
    <p><a href="{% url 'about' %}">About</a></p><br>

{% endblock content %}